{% extends "template.twig" %}

{% block meta %}
    
{% endblock meta %}

{% block title %}
<title>Profil de {{ member.username() }}</title>
{% endblock title %}

{% block links %}
<script src="https://cdn.tiny.cloud/1/d5vv90gjbxrlkogbd4bmlpy6bbsfy9ml7c7dd5pjujl5ska4/tinymce/5/tinymce.min.js"></script>
{% endblock links %}

{% block menu %}{% include "/front/connectedMenu.twig" %}{% endblock %}

{% block content %}
<section class="" id="member-profile">
    <div class="container p-0 text-center border mb-2">
        <div id="profile-jumbotron" style="background-image: url('{{ BASE_URL }}public/images/profiles-banners/{{ member.profileBanner() }}'); background-size: cover;">
            <div class="jumbotron">
                <div class="container chapter-title">
                    <h1 class="display-4">{{ member.username() }}, {{ member.getAge() }} ans</h1>
                </div>
                <div id="profile-picture">
                    <img src="{{ BASE_URL }}public/images/profiles-pictures/{{ member.profilePicture() }}" alt="">
                </div>
                <div id="user-buttons" >
                    <button class="btn btn-1" data-toggle="modal" data-target="#send-message-modal">
                        <p class="m-0 mr-1">Envoyer un message</p>
                        <img src="{{ BASE_URL }}public/images/icons8-bulle-de-conversation-avec-points-50.png" alt="">
                    </button>
                    <button class="btn btn-2"  data-toggle="modal" data-target="#report-modal">
                        <p class="m-0 mr-1">Signaler cet utilisateur</p> 
                        <img src="{{ BASE_URL }}public/images/icons8-attention-50.png" alt="">
                    </button>
                </div>
            </div>        
        </div>
        <div id="member-basics" class="row justify-content-center">
            <div class="col-12">
                <h3>Détails</h3>
            </div>
            <div class="col-8 divider m-0 mb-4"></div>
           <div class="details-item col-lg-5 col-md-10 col-sm-10 col-10">
                <h5 class="mr-2">Sexe : </h5>
                {% if member.gender() == NULL%} <p class="text-muted font-italic">Non-renseigné</p> {% else %} <p>{{ member.gender() }}</p> {% endif %}
           </div>
           <div class="details-item col-lg-5 col-md-10 col-sm-10 col-10">
                <h5 class="mr-2">Département : </h5>
                {% if member.county() == NULL%} <p class="text-muted font-italic">Non-renseigné</p> {% else %} <p>{{ member.county() }}</p> {% endif %}
           </div>
           <div class="details-item col-lg-5 col-md-10 col-sm-10 col-10">
                <h5 class="mr-2"> Centres d'intérêts : </h5>
                {% if member.interests() == NULL%} <p class="text-muted font-italic">Non-renseignés</p> {% else %} <p>{{ member.interests() }}</p> {% endif %}
           </div>
           <div class="details-item col-lg-5 col-md-10 col-sm-10 col-10">
                <h5 class="mr-2"> Mon personnage fétiche : </h5>
                {% if member.identifiedAs() == NULL%} <p class="text-muted font-italic">Non-renseigné</p> {% else %} <p>{{ member.identifiedAs() }}</p> {% endif %}
           </div>
           <div class="details-item col-lg-10 col-md-10 col-sm-10 col-10">
            <h5 class="mr-2"> Ma citation favorite : </h5>
            {% if member.favoriteCitation() == NULL%} <p class="text-muted font-italic">Non-renseigné</p> {% else %} <p>{{ member.favoriteCitation() }}</p> {% endif %}

           </div>
        </div>
    </div>
    <div class="container p-0 text-center border">
        <div id="member-description" class="row justify-content-center">
            <div class="col-12">
                <h3>Description</h3>
            </div>
            <div class="col-8 divider m-0 mb-4"></div>
            <div class="col-8 mb-4">
                {% if member.description() == NULL%} <p class="text-muted font-italic">Non-renseignée</p> {% else %} <p>{{ member.description()|raw }}</p> {% endif %}
            </div>

        </div>
    </div>
</section>

<!-- Modal Send Message-->
<div class="modal fade" id="send-message-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-title">Contacter cet utilisateur</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form class="modal-body" id="send-new-message" action="{{ BASE_URL }}send-message/user/{{ member.id() }}">
                    <div class="form-group">
                        <label for="message">Votre message : </label>
                        <textarea class="form-control" type="text" name="message" id="message" required></textarea>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-success active" id="send-message" type="submit" form="send-new-message">Confirmer</button>
                </div>
            </div>
        </div>
    </div>


<!-- Modal Signalisation-->
<div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-title">Vous souhaitez signaler cet utilisateur</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form class="modal-body" id="report-member" action="{{ BASE_URL}}report-member/30">
                    <div class="form-group">
                        <label for="report-reason">Raison du signalement : </label>
                        <textarea class="form-control" type="text" name="report-reason" id="report-reason" required></textarea>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-success active" role="button" type="submit" form="report-member">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
<script src="{{ BASE_URL }}public/js/TinyMCE.js"></script>
<script src="{{ BASE_URL }}public/js/FirstMail.js"></script>
{% endblock scripts %}