{% extends "template.twig" %}

{% block meta %}
    
{% endblock meta %}

{% block title %}
<title>Profil de {{ member.username() }}</title>
{% endblock title %}

{% block links %}
{% endblock links %}

{% block menu %}{% include "/front/connectedMenu.twig" %}{% endblock %}

{% block content %}
<section class="" id="">
    <div class="container p-0 text-center border mb-2">
        <div id="profile-jumbotron" style="background-image: url('{{ BASE_URL }}public/images/profiles-banners/{{ member.profileBanner() }}'); background-size: cover;">
            <div class="jumbotron">
                <div class="container chapter-title">
                    <h1 class="display-4">{{ member.username() }}, {{ member.getAge() }} ans</h1>
                    <h3 class="lead">{{ member.favoriteCitation() }}</h3>
                </div>
                <div id="profile-picture">
                    <img src="{{ BASE_URL }}public/images/profiles-pictures/{{ member.profilePicture() }}" alt="">
                </div>
                <div id="user-buttons" >
                    <a class="btn btn-1" role="button" href="{{ BASE_URL }}send-message/30">
                        <p class="m-0 mr-1">Envoyer un message</p>
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25"
                        viewBox="0 0 192 192" style="fill:#000000;"><g fill="none" fill-rule="nonzero" 
                        stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" 
                        stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" 
                        font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,192v-192h192v192z" fill="none"></path>
                            <g fill="#ffffff">
                                <g id="surface1">
                                    <path d="M96,15.63c-48.51,0 -88.05,33.99 -88.05,76.53c0,24.69 13.53,46.185 34.305,60.24c-0.03,0.825 0.03,2.16 -1.05,6.18c-1.35,4.965 -4.065,11.97 -9.57,19.86l-3.915,5.61h6.84c23.7,0 37.41,-15.45 39.54,-17.925c7.05,1.65 14.31,2.565 21.9,2.565c48.51,0 88.05,-33.99 88.05,-76.53c0,-42.54 -39.54,-76.53 -88.05,-76.53zM96,22.77c45.195,0 80.91,31.29 80.91,69.39c0,38.1 -35.715,69.39 -80.91,69.39c-7.83,0 -15.21,-0.75 -22.14,-2.565l-2.22,-0.585l-1.455,1.785c0,0 -11.085,12.51 -28.785,15.525c3.21,-5.79 5.58,-11.19 6.675,-15.27c1.545,-5.685 1.575,-9.525 1.575,-9.525v-1.965l-1.65,-1.05c-20.28,-12.9 -32.91,-32.865 -32.91,-55.74c0,-38.1 35.715,-69.39 80.91,-69.39zM57.6,84.48c-4.245,0 -7.68,3.435 -7.68,7.68c0,4.245 3.435,7.68 7.68,7.68c4.245,0 7.68,-3.435 7.68,-7.68c0,-4.245 -3.435,-7.68 -7.68,-7.68zM96,84.48c-4.245,0 -7.68,3.435 -7.68,7.68c0,4.245 3.435,7.68 7.68,7.68c4.245,0 7.68,-3.435 7.68,-7.68c0,-4.245 -3.435,-7.68 -7.68,-7.68zM134.4,84.48c-4.245,0 -7.68,3.435 -7.68,7.68c0,4.245 3.435,7.68 7.68,7.68c4.245,0 7.68,-3.435 7.68,-7.68c0,-4.245 -3.435,-7.68 -7.68,-7.68z"></path>
                                </g>
                            </g>
                        </svg>
                    </a>
                    <button class="btn btn-2"  data-toggle="modal" data-target="#report-modal">
                        <p class="m-0 mr-1">Signaler cet utilisateur</p> 
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="25" height="25"
                        viewBox="0 0 192 192" style=" fill:#000000;"><g fill="none" fill-rule="nonzero"
                        stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" 
                        stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none"
                        font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal">
                            <path d="M0,192v-192h192v192z" fill="none"></path>
                            <g fill="#ffffff">
                                <path d="M96,7.68c-48.73231,0 -88.32,39.58769 -88.32,88.32c0,48.73231 39.58769,88.32 88.32,88.32c48.73231,0 88.32,-39.58769 88.32,-88.32c0,-48.73231 -39.58769,-88.32 -88.32,-88.32zM96,15.36c44.58172,0 80.64,36.05828 80.64,80.64c0,44.58172 -36.05828,80.64 -80.64,80.64c-44.58172,0 -80.64,-36.05828 -80.64,-80.64c0,-44.58172 36.05828,-80.64 80.64,-80.64zM91.395,54.915c-1.152,0 -1.5375,0.762 -1.5375,1.53v51.84c0,1.152 0.7695,1.5375 1.5375,1.5375h8.8275c1.152,0 1.5375,-0.7695 1.5375,-1.5375v-51.84c0,-1.152 -0.7695,-1.53 -1.5375,-1.53zM91.395,124.035c-1.152,0 -1.5375,0.762 -1.5375,1.53v9.99c0,1.152 0.7695,1.53 1.5375,1.53h9.21c1.152,0 1.5375,-0.762 1.5375,-1.53v-9.99c0,-1.152 -0.7695,-1.53 -1.5375,-1.53z"></path>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>        
        </div>
        <div id="member-basics" class="row justify-content-center">
            <div class="col-12">
                <h3>Détails</h3>
            </div>
            <div class="col-8 divider m-0 mb-4"></div>
           <div class="details-item col-5 ml-auto">
                <h5 class="mr-2">Sexe : </h5>
                {% if member.gender() == NULL%} <p class="text-muted font-italic">Non-renseigné</p> {% else %} <p>{{ member.gender() }}</p> {% endif %}
           </div>
           <div class="details-item col-5 mr-auto">
                <h5 class="mr-2">Département : </h5>
                {% if member.county() == NULL%} <p class="text-muted font-italic">Non-renseigné</p> {% else %} <p>{{ member.county() }}</p> {% endif %}
           </div>
           <div class="details-item col-5">
                <h5 class="mr-2"> Centres d'intérêts : </h5>
                {% if member.interests() == NULL%} <p class="text-muted font-italic">Non-renseignés</p> {% else %} <p>{{ member.interests() }}</p> {% endif %}
           </div>
           <div class="details-item col-5">
                <h5 class="mr-2"> Mon personnage fétiche : </h5>
                {% if member.identifiedAs() == NULL%} <p class="text-muted font-italic">Non-renseigné</p> {% else %} <p>{{ member.identifiedAs() }}</p> {% endif %}
           </div>
        </div>
    </div>
    <div class="container p-0 text-center border">
        <div id="member-description" class="row justify-content-center">
            <div class="col-12">
                <h3>Description</h3>
            </div>
            <div class="col-8 divider m-0 mb-4"></div>
            <div class="col-8 mb-4">
                {% if member.description() == NULL%} <p class="text-muted font-italic">Non-renseignée</p> {% else %} <p>{{ member.description()|raw }}</p> {% endif %}
            </div>

        </div>
    </div>
</section>

<!-- Modal Signalisation-->
<div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="modal-title">Vous souhaitez signaler cet utilisateur</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Fermer">
                  <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form class="modal-body" id="report-member" action="{{ BASE_URL}}report-member/30">
                    <div class="form-group">
                        <label for="report-reason">Raison du signalement : </label>
                        <textarea class="form-control" type="text" name="report-reason" id="report-reason" required></textarea>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <button class="btn btn-success active" role="button" type="submit" form="report-member">Confirmer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}